#contact {
  $section-padding: 15rem 0 10rem 0;
  $mobile-padding: 10rem 0;
  
  position: relative;
  background: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  padding: $section-padding;
  margin: -10rem 0 -1px 0;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  
  // Suppression du préfixe -webkit- qui n'est plus nécessaire pour clip-path
  @include respond(tab-land) {
    padding: $mobile-padding;
    clip-path: none;
    margin-top: 0;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
      font-size: 2.4rem;
      
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    a {
      font-size: inherit; // Hérite de la taille de police du parent
    }
  }
}
// Ajoutez ces styles à votre fichier SCSS existant
.contact-links a {
  position: relative;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    background: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      rgba(white, 0.3) 0%,
      transparent 80%
    );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  &:hover::before {
    opacity: 1;
  }
}

.contact-wrapper__heading span {
  display: inline-block;
}